[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/bin/kano-video
Icon=/usr/share/kano-video/icon/video.png
Terminal=false
Name=Make Video
Comment=Play videos from YouTube
Categories=Application;Education;Development;Kano;
Name[en_GB]=kano-video.desktop
