[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/bin/kano-launcher "rxvt -title 'Make Video' -e /usr/bin/make-video" "make-video"
Icon=/usr/share/kano-desktop/icons/youtube.png
Terminal=false
Name=Make Video
Comment= Play videos from Youtube
Categories=Application;Education;Development;Kano;
